.clicking-active {
   opacity: 1;
   transform: translateY(0rem);
}
/* ---------------------------------------------- */
@keyframes loading{
   from{
      opacity: 0;
      transform:translateY(7rem);
   }
   to{
      opacity: 1;
      transform: translateY(0);
   }
}
/* ---------------------------------------------- */
@keyframes creation{
   from{
      opacity: 0;
      transform:translateY(-20rem);
   }
   to{
      opacity: 1;
      transform: translateY(0);
   }
}
/* ---------------------------------------------- */

@keyframes deletion{
   from{
      opacity: 1;
   }
   to{
      opacity: 0;
      transform:translateY(20rem) rotateZ(-30deg);
   }
}
/* ---------------------------------------------- */